*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
}

/* #region Utility*/


/* #endregion */


/* #region Header */



/* #endregion */


/* #region Main */

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    height: 650px;
    background-position: center;
    background-size: cover;
}

/* #endregion */


/* #region Footer */



/* #endregion */


@media screen and (min-width: 768px) {
    .jumbotron p{
        width: 40%;
    }
}