*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
}

img{
    max-width: 100%;
}


/* #region Utility*/

:root{
    --ps5-secondary: rgba(190, 188, 187, 1);
    --ps5-dark: rgba(31, 31, 31, 1);
    --ps5-dark-blue: rgba(22, 28, 59, 1);
    --ps5-footer: rgba(0, 67, 156, 1);
}

.rounded_4{
    border-radius: 25px;
}

.borders {
    border: 3px solid white;
    outline: 4px solid rgba(68, 151, 219, 1);
}

.borders:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid #ff1414;
}

.mt_n5{
    margin-top: -3rem;
}

.bg_lightgray{
    background-color: rgba(217, 218, 220, 1);
}

.bg_ps5_secondary{
    background-color: var(--ps5-secondary);
}

.bg_ps5_dark-blue{
    background-color: var(--ps5-dark-blue);
}

.bg_ps5_footer{
    background-color: var(--ps5-footer);
}




/* #endregion */


/* #region Header */



/* #endregion */


/* #region Main */

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    height: 800px;
    background-position: center;
    background-size: cover;
}

.jumbotron-second{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 630px;
    background-position: center;
    background-size: cover;
}

#ps-plus{
    width: 500px;
    height: auto;
}


.socials{
    
    aspect-ratio: 1 / 1;
}

/* #endregion */


/* #region Footer */

#site_footer ul>li{
    color: white;
    list-style: none;
    margin-top: 0.5rem;
}

/* #endregion */

/* #region Media Query */

@media screen and (min-width: 768px) {
    .jumbotron p{
        width: 40%;
    }

    .jumbotron-second p,
    .jumbotron-second h3{
        width: 50%;
    }

}

@media screen and (max-width: 767px) {
    .it-takes-two>img{
        height: 220px;
    }

    .explore .card-body{
        margin-top: -3rem;
    }
    
    .ps-plus .col-12:nth-child(2){
            display: none;
        }
    
}

@media screen and (max-width: 576px) {
    .hardwares>span{
        display: none;
    }
   
    /* .hardwares>img{
        height: 80px;
    } */ 

}
    



/* #endregion */