*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
}

img{
    max-width: 100%;
}


/* #region Utility*/

:root{
    --ps5-secondary: rgba(190, 188, 187, 1);
    --ps5-dark: rgba(31, 31, 31, 1);
    --ps5-dark-blue: rgba(22, 28, 59, 1);
    --ps5-footer: rgba(0, 67, 156, 1);
}

.rounded_4{
    border-radius: 10px;
}

.borders{
    border: 3px solid white;
    outline: 4px solid rgba(68, 151, 219, 1);
}

.mt_n5{
    margin-top: -3rem;
}

.mb_custom-1{
    margin-bottom: -2px;
}

.bg_lightgray{
    background-color: rgba(217, 218, 220, 1);
}

.bg_ps5_secondary{
    background-color: var(--ps5-secondary);
}

.bg_ps5_dark-blue{
    background-color: var(--ps5-dark-blue);
}

.bg_ps5_footer{
    background-color: var(--ps5-footer);
}

/* #endregion */

/* #region Hover Effects */

.btn-danger:hover,
.btn-light:hover,
.btn .bg_lightgray:hover{
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -5px;
    transition: linear 0.2s;
}

.btn-primary:hover{
    outline: 2px solid rgba(0, 0, 0, 0.5);
    outline-offset: 2px;
    transition: ease-in-out 0.2s;
}

.hardwares>img:hover{
    opacity: 1!important;
}

.dropdown-item:focus, 
.dropdown-item:hover{
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: white;
}

/* Explore PS4 Effects */
.plays-5 .col{
    position: relative;
} 

.plays-5 .col:first-child::after{
    display: block;
}

.plays-5 .col::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 2px;
    width: 70%;
    border-bottom: 2px solid #0d6efd !important;
    display: none;
}

.plays-5 .col:hover::after{
    display: block;
}

.jumbotron-cards .card>img{
    transition: ease-in-out 0.7s;
}

.jumbotron-cards .card>img:hover{
    transform: translateY(-20px);
}

/* Socials Effects */

.socials{
    transition: linear 0.3s;
}

.socials:hover{
    border-radius: 40px;
}
  
/* #endregion */

/* #region Header */

/* Arrow Nav-bar Items */
.dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
}

.dropdown-toggle.show::after {
    content: "\f106";
}

/* Cambio Position dropdown */
.dropdown, .dropend, .dropstart, .dropup{
    position: unset;
}
.dropdown-menu[data-bs-popper]{
    width: 100vw;
    left: 0;
    margin-top: .125rem;
    top: 90%;
    border: 1px solid white;
}

/* #endregion */


/* #region Main */

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    height: 800px;
    background-position: center;
    background-size: cover;
}

.jumbotron-second{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 630px;
    background-position: center;
    background-size: cover;
}

.explore .card-text{
    min-height: 72px;
}

#ps-plus{
    width: 500px;
    height: auto;
}

.socials{
    aspect-ratio: 1 / 1;
}

/* #endregion */


/* #region Footer */

#site_footer ul>li{
    color: white;
    list-style: none;
    margin-top: 0.5rem;
}

/* #endregion */

/* #region Media Query */

@media screen and (min-width: 768px) {
    .jumbotron p{
        width: 40%;
    }

    .jumbotron-second p,
    .jumbotron-second h3{
        width: 50%;
    }

}

@media screen and (max-width: 767px) {
    .it-takes-two>img{
        height: 220px;
    }

    .explore .card-body{
        margin-top: -3rem;
    }
    
    .ps-plus .col-12:nth-child(2){
            display: none;
        }
    
}

@media screen and (max-width: 576px) {
    .hardwares>span{
        display: none;
    }

    .jumbotron-cards .card>img:hover{
        transform: none;
    }
   
    /* .hardwares>img{
        height: 80px;
    } */ 
}
    
@media screen and (min-width: 993px) and (max-width: 1010px){
    #site_header .nav-item>.btn{
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }
}

@media screen and (min-width: 840px) {
    .explore .card-text{
        min-height: 48px;
    }
}


/* #endregion */